<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}"/>
</head>
<body>
<form action="/form_process" method="get" class="basic-grey">
    <h1>Device Attributes Tool
        <span>Please fill in the fields.</span>
    </h1>
    <label>
        <span>System Controller Address:</span>
        <input id="SC_Address" type="text" name="SC_Address" placeholder="System Controller Address" />
    </label>
    <label>
        <span>WAC Address :</span>
        <input id="WAC_Address" type="text" name="WAC_Address" placeholder="WAC Address" />
    </label>
    <label>
        <span>Device IEEE Address :</span>
        <input id="Device IEEE Address" type="text" name="Device_Address" placeholder="Device IEEE Address" />
    </label>
    <label>
        <span>Device Endpoint:</span>
        <input id="Device Endpoint" type="text" name="Device_Endpoint" placeholder="Device Endpoint" />
    </label>
    <!--<label>-->
        <!--<span>Device Cluster:</span><select name="Device_Cluster">-->
        <!--<option value="Basic">Basic</option>-->
        <!--<option value="Identify">Identify</option>-->
        <!--<option value="Groups">Groups</option>-->
        <!--<option value="Scenes">Scenes</option>-->
        <!--<option value="On/Off">On/Off</option>-->
        <!--<option value="Level Control">Level Control</option>-->
    <!--</select>-->
    <!--</label>-->
    <!--<label>-->
        <!--<span>Device Attribute ID:</span>-->
        <!--<input id="Device Attribute" type="text" name="Device_Attribute" placeholder="Device Attribute" />-->
    <!--</label>-->
    <!--<label>-->
    <!--<span>Message :</span>-->
    <!--<textarea id="message" name="message" placeholder="Your Message to Us"></textarea>-->
    <!--</label>-->
    <!--<label>-->
    <!--<span>Subject :</span><select name="selection">-->
    <!--<option value="Job Inquiry">Job Inquiry</option>-->
    <!--<option value="General Question">General Question</option>-->
    <!--</select>-->
    <!--</label>-->

    <label>
    <span>Actions:</span><select name="Perform_Action" onchange="setSelVar(this)">
    <option value="Identify">Identify</option>
    <option value="Read_Attribute" >Read Attribute</option>
    <option value="ReadBindings" >ReadBindings</option>
    <option value="GetGroupMembership">GetGroupMembership</option>
    <option value="GetCurrentLevel">GetCurrentLevel</option>
    <option value="GetIdentifyTime">GetIdentifyTime</option>
    <option value="GetOnOffState">GetOnOffState</option>
    <option value="TurnOn">TurnOn</option>
    <option value="TurnOff">TurnOff</option>
    <option value="ReadReportingConfig">ReadReportingConfig</option>
    <option value="ReadSimpleDescriptor">ReadSimpleDescriptor</option>
    <option value="Testman">Testman</option>
    </select>
    </label>

    <label id="Cluster_label" style="display:none">
        <span>Device Cluster:</span>
        <select id="Device_Cluster" name="Device_Cluster" onchange="changeSelect(this.value)">
        </select>
    </label>

    <label id="Attribute_label" style="display:none">
    <span>Device Attribute:</span>
    <select id="Device_Attribute" name="Device_Attribute">
    </select>
    </label>

    <label id="Testman_Clusters" style="display:none">
        <span>Testman Cluster:</span>
        <select id="TM_Clusters" name="TM_Clusters" onchange="TestmanchangeSelect(this.value)">
        </select>
    </label>

    <label id="Testman_Suites" style="display:none">
    <span>Testman Suites:</span>
    <select id="TM_Suites" name="TM_Suites">
    </select>
    </label>

    <!--To show clusters and attributes when some actions are selected-->
    <script type="text/javascript" language="javascript">
        var ClusterAry=["Basic","Identify","Groups","Scenes","On/Off","Level Control"]//学院列表菜单
        var AttributeAry=[["ZCLVersion","ManufacturerName","PowerSource"],["IdentifyTime"],["NameSupport"],["SceneCount","CurrentScene","CurrentGroup","SceneValid","NameSupport_Scene"],["OnOff"],["CurrentLevel"]]//专业列表菜单
        var SclSect=document.getElementById("Device_Cluster")
        var CourSect=document.getElementById("Device_Attribute")
        for(i=0;i<ClusterAry.length;i++){
         SclSect.options.add(new Option(ClusterAry[i],i));
        }
        for(j=0;j<AttributeAry[0].length;j++){//因为两个下拉菜都是动态的，所以专业这个下拉菜单就默认显示第一个学院的专业
         CourSect.options.add(new Option(AttributeAry[0][j],j));
        }
        function changeSelect(obj){
         if(obj){
          CourSect.length=0;//清除原有选项
         }
         if(AttributeAry[obj]){
          for(i=0;i<AttributeAry[obj].length;i++){
           CourSect.options.add(new Option(AttributeAry[obj][i],i));
          }
         }else{
           CourSect.options.add(new Option("暂未添加专业",""));
         }
        }
    </script>

    <!--To show test suites when relevant Testman Clusters are selected.-->
    <script type="text/javascript" language="javascript">
        var TestmanClusterAry=["GenericClusters","DimmingLightClusters"]
        var TestmanAttributeAry=[["All","00_profile_wide","01_basic","02_identify","03_commissioning","04_groups","11_zdocommands"],["All","05_on_off","06_level_control","07_move","08_ballast","09_bind_and_reporting","10_scenes"]]
        var TestmanSclSect=document.getElementById("TM_Clusters")
        var TestmanCourSect=document.getElementById("TM_Suites")
        for(i=0;i<TestmanClusterAry.length;i++){
         TestmanSclSect.options.add(new Option(TestmanClusterAry[i],i));
        }
        for(j=0;j<TestmanAttributeAry[0].length;j++){//因为两个下拉菜都是动态的，所以专业这个下拉菜单就默认显示第一个学院的专业
         TestmanCourSect.options.add(new Option(TestmanAttributeAry[0][j],j));
        }
        function TestmanchangeSelect(obj){
         if(obj){
          TestmanCourSect.length=0;//清除原有选项
         }
         if(TestmanAttributeAry[obj]){
          for(i=0;i<TestmanAttributeAry[obj].length;i++){
           TestmanCourSect.options.add(new Option(TestmanAttributeAry[obj][i],i));
          }
         }else{
           TestmanCourSect.options.add(new Option("暂未添加专业",""));
         }
        }
    </script>

    <script type="text/javascript" language="javascript">

       function setSelVar(sel){
          if(sel[sel.selectedIndex].value === "Read_Attribute") {
          Cluster_label.style.display="block";
          Attribute_label.style.display="block";
          }
          if(sel[sel.selectedIndex].value === "ReadReportingConfig") {
          Cluster_label.style.display="block";
          Attribute_label.style.display="block";
          }
          if(sel[sel.selectedIndex].value === "Testman") {
          Testman_Clusters.style.display="block";
          Testman_Suites.style.display="block";
          }
       }
    </script>

    <label>
        <span>&nbsp;</span>
        <input type="submit" class="button" value="Send" />
    </label>
</form>


</body>
</html>